body {
    background-color: #F5E6D3;
    color: #2A2A2A;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 125%;
}

header {
    background: #9C4221;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

a {
    color: #7A1E0E;
    text-decoration: none;
}

a:hover {
    color: #D99E32;
    text-decoration: underline;
}

main {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

#bullet-points {
    text-align: left;
}

ul ul {
    list-style: circle;
}

header nav a {
    color: white;
}

.validation-img {
    border: 0;
    width: 88px;
    height: 31px;
}

img {
    margin-bottom: 15px;
}

nav {
    padding: 5px;
}

#validation-link-html,
#validation-link-css {
    text-decoration: none; /* Removes underline */
    display: inline-block; /* Ensures they are treated as block-like elements */
}
