<!-- Changes here effect all sidebars -->
<!-- Make sure messages are brief or link to else where -->
<h3>Announcements</h3>
<p>Reminders</p>
    <ul>
        <li>Attend fellowship</li>
        <li>Spread word of the organization</li>
        <li>Join our organization via The Pirate Experience</li>
        <li>If you are interested in being an officer, <a href="./contact.html">contact us!</a></li>
    </ul>
<p>Social Media</p>
    <ul>
        <li><a href="https://www.instagram.com/uterus.ecu/?hl=en">Instagram</a></li>
        <li><a href="https://thepirateexperience.ecu.edu/home_login">The Pirate Exeperience</a></li>
    </ul>
<p>Upcoming Events</p>
    <ul>
        <li>Apr 23, 2025: Earth Day Festival</li>
    </ul>