<nav>
    <a href = "https://webpages.charlotte.edu/bzielins/">CLT Webspace</a>
    || 
    <a href = "https://github.com/Bzombee/Bzombee.github.io">GitHub</a>
    ||
    <a href = "https://bzombee.github.io/itis3135/">Github.io</a>
    ||
    <a href = "https://www.freecodecamp.org/BZombee">freeCodeCamp</a>
    ||
    <a href = "https://www.codecademy.com/profiles/BZombee">Codecademy</a>
    ||
    <a href = "https://www.linkedin.com/in/brian-zielinski/">LinkedIn</a>
</nav>
<p style="text-align: center;">Page Built by <a href="zielinskidesignfirm.biz/">Zielinski Design Firm</a> &copy; 2025, <em>certified in <a href="https://www.freecodecamp.org/certification/BZombee/responsive-web-design">Responsive Web Design</a> and <a href="https://www.freecodecamp.org/certification/BZombee/javascript-algorithms-and-data-structures-v8">JavaScript Algorithms & Data Structures</a></em></p>