<nav>
    <a href = "https://webpages.charlotte.edu/bzielins/">CLT Webspace</a>
    || 
    <a href = "https://github.com/Bzombee/Bzombee.github.io">GitHub</a>
    ||
    <a href = "https://bzombee.github.io/itis3135/">Github.io</a>
    ||
    <a href = "https://www.freecodecamp.org/BZombee">freeCodeCamp</a>
    ||
    <a href = "https://www.codecademy.com/profiles/BZombee">Codecademy</a>
    ||
    <a href = "https://www.linkedin.com/in/brian-zielinski/">LinkedIn</a>
</nav>
<p>Page Built by <a href="zielinskidesignfirm.biz/">Zielinski Design Firm</a> &copy; 2025, <em>Certified in <a href="https://www.freecodecamp.org/certification/BZombee/responsive-web-design">Responsive Web Design</a></em></p>

<a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
    <img src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!" class="validation-img">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
    <img src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" class="validation-img">
</a>  